[submodule "path_to_submodule"] 
  path = themes/meghna-hugo
  url = https://github.com/ElijahSkinner/meghna-hugo.git
[submodule "public"]
	path = public
	url = git@github.com:davsk/ReplayRLB-public.git
[submodule "assets/bootstrap"]
	path = assets/bootstrap
	url = git@github.com:twbs/bootstrap.git
