{{ $data := index site.Data site.Language.Lang }}

{{ if $data.pricing.pricing.enable }}
{{ with $data.pricing.pricing }}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-3">
            {{ partial "prices/Boosting.html" . }}
        </div>
        <div class="col-sm-3">
            {{ partial "prices/TournamentTitle.html" . }}
        </div>
        <div class="col-sm-3">
            {{ partial "prices/Placements.html" . }}
        </div>
        <div class="col-sm-3">
            {{ partial "prices/Coaching.html" . }}
        </div>
        <div class="border-meghna"></div>
    </div>
</div>

{{ end }}
{{ end }}
